@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');
*{
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poetsen One", sans-serif;
}



.head{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  /* background-color: transparent; */
  width: 100%;
  padding: 10px 20px;
  z-index: 100;
  transition: .5s ease;
}
.head.scrolled{
  background: rgb(0, 139, 198);
}

.head a{
  text-decoration: none;
}

.title{
  margin-left: 70px ;
}

.head span{
  font-size: 35px;
  font-weight: 700;
  color: rgb(0, 185, 198);
}

.head #l{
  position: relative;
  left: 0;
  animation-name: title-l;
  animation-duration: 5s;
}
.head #r{
  position: relative;
  left: 0;
  animation-name: title-r;
  animation-duration: 5s;
}
.title a{
  position: relative;
  color: aliceblue;
  font-size: 25px;
  margin-right: 10px;
  top: -3px;
}

.title #d{
  position: relative;
  top: -25px;
  left: 17px;
  color: rgb(255, 128, 0);
  font-size: 35px;
}

.head .nav1 a{
  margin-left: 30px;
  color: #ffffff;
  margin-right: 20px;
  
}

.head .nav1 #a1{
  color: rgb(0, 183, 255);
}

.head .nav1 #a1::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a1:hover::before{
  width: 45px;
  background-color: #fff;
}

.head .nav1 #a2::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a2:hover::before{
  width: 3.5%;
  background: #fff;
}

.head .nav1 #a3::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a3:hover::before{
  width: 5%;
  background: #fff;
}
.head .nav1 #a4::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a4:hover::before{
  width: 6.5%;
  background: #fff;
}

.head .nav1 #a5::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 15px;
  margin-left: 0;
  background: #ffffff;
  transition: 0.5s ease;
}

.head .nav1 #a5:hover::before{
  width: 5%;
  background: #fff;
}

.toggle_btn{
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 210px;
}
.dropdown_menu a{
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.sec1{
  background: linear-gradient(#003c67,#002a47,#002139,#000);
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.body{
  padding: 10% 3%;
}
.body h1{
  color: white;
  font-size: 30px;
  padding-bottom: 5px;
}


.body h3{
  color: aquamarine;
  font-size: 20px;
  margin-bottom: 10px;
}

.body p{
  width: 30rem;
  font-size: 15px;
  color: rgb(134, 134, 134);
}

.sec1 .project a{
  position:absolute;
  top:55%;
  left:15%;
  transform: translate(-50%,-50%);
  padding: 8px 20px;
  color: #1670f0;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing: 5px;
  font-size:20px;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
  overflow:hidden;
}

.sec1 a::before
{
  content:"";
  position:absolute;
  top:2px;
  left:2px;
  bottom:2px;
  width:50%;
  background:rgba(255,255,255,0.05);
  
}
.sec1 a span:nth-child(1)
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:2px;
  background:linear-gradient(to right, #0c002b ,#1779ff);
  animation: animate1 2s linear infinite;
  animation-delay:1s;
  
}
@keyframes animate1
{
  0%
  {
    transform:translateX(-100%);
}
  100%
  {
    transform:translateX(100%);
  }
}
.sec1 a span:nth-child(2)
{
  position:absolute;
  top:0;
  right:0;
  width:2px;
  height:100%;
  background:linear-gradient(to bottom, #0c002b ,#1779ff);
  animation: animate2 2s linear infinite;
  animation-delay:2s;
}
@keyframes animate2
{
  0%
  {
    transform:translateY(-100%);
}
  100%
  {
    transform:translateY(100%);
  }
}
.sec1 a span:nth-child(3)
{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:2px;
  background:linear-gradient(to left, #0c002b ,#1779ff);
   animation: animate3 2s linear infinite;
  animation-delay:1s;
  
}
@keyframes animate3
{
  0%
  {
    transform:translateX(100%);
}
  100%
  {
    transform:translateX(-100%);
  }
}
.sec1 a span:nth-child(4)
{
  position:absolute;
  top:0;
  left:0;
  width:2px;
  height:100%;
  background:linear-gradient(to top, #0c002b ,#1779ff);
   animation: animate4 2s linear infinite;
  animation-delay:2s;
  
}
@keyframes animate4
{
  0%
  {
    transform:translateY(100%);
}
  100%
  {
    transform:translateY(-100%);
  }
}

      

.body .links{
  margin-top: 12%;
  margin-left: -20px;
  justify-content: space-between;
}

.links a{
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: rgb(0, 162, 255);
  font-size: 25px;
  margin-left: 20px;
  border: 2px solid ;
  border-radius: 30px;
  padding: 1%;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s ease;
}

.body .links a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0, 162, 255);
  z-index: -1;
  transition: 0.5s ease;
}
.body .links a:hover::before{
  height: 100%;
}

.links a:hover{
  color: #003c67;
}
.img1 span{
  position: absolute;
  bottom: 3%;
  font-size: 350px;
  font-weight: 100;
  color: #003c67;
  opacity: 0.5;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.img1 #left{
  position: absolute;
  color: #0073ac;
  right: 42%;
  animation-name: tags-left;
  animation-duration: 5s; 
}
.img1 #right{
  position: absolute;
  color: #0073ac;
  right: 3%;
  animation-name: tags-right;
  animation-duration: 5s;

}

.img1 img{
  position: absolute;
  width: 350px;
  bottom: 0;
  right: 15%;
  opacity: 0.9;
  transition: 0.5s ease;
}

/* Section Styling */
.sec2 {
  background-color: #181818;
  padding: 80px 0;
  color: #fff;
  /* font-family: 'Josefin Sans', sans-serif; */
}

/* About Container */
.sec2 .about {
  max-width: 1200px;
  margin: 0 5rem;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec2 .about h1,  h1 span {
  font-family: 'Josefin Sans';
}
.sec2 .about h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.sec2 .about h1 span {
  color: #ffbf00;
}

/* Subtext */
.sec2 .about h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  color: #d6d6d6;
  margin-bottom: 15px;
}

.sec2 .about h4 span {
  color: orange;
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

/* Paragraph */
.sec2 .about p {
  max-width: 700px;
  font-size: 1.7rem;
  line-height: 1.8;
  margin-bottom: 10px;
  color: #eee;
}

.sec2 .about p span {
  font-family: 'Josefin Sans';
  color: #ffbf00;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Layout for Image + Text */
.sec2 .about .page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 40px;
}


/* Text Area */
.sec2 .about .page .text {
  flex: 1;
  min-width: 300px;
  text-align: left;
}


.label {
  background-color: transparent;
  border: 2px solid rgb(91, 91, 240);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 50px;
  width: 160px;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 5px;
  position: relative;
}

.label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 8px;
  height: 8px;
  transition: all 0.4s ease;
  border-radius: 100%;
  margin: auto;
  opacity: 0;
  visibility: hidden;
}

.label .input {
  display: none;
}

.label .title {
  font-size: 17px;
  color: #fff;
  transition: all 0.4s ease;
  position: absolute;
  right: 18px;
  bottom: 14px;
  text-align: center;
}

.label .title:last-child {
  opacity: 0;
  visibility: hidden;
}

.label .circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgb(91, 91, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  overflow: hidden;
}

.label .circle .icon {
  color: #fff;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.label .circle .square {
  aspect-ratio: 1;
  width: 15px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.label .circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3333a8;
  width: 100%;
  height: 0;
  transition: all 0.4s ease;
}

.label:has(.input:checked) {
  width: 57px;
  animation: installed 0.4s ease 3.5s forwards;
}

.label:has(.input:checked)::before {
  animation: rotate 3s ease-in-out 0.4s forwards;
}

.label .input:checked + .circle {
  animation:
    pulse 1s forwards,
    circleDelete 0.2s ease 3.5s forwards;
  rotate: 180deg;
}

.label .input:checked + .circle::before {
  animation: installing 3s ease-in-out forwards;
}

.label .input:checked + .circle .icon {
  opacity: 0;
  visibility: hidden;
}

.label .input:checked ~ .circle .square {
  opacity: 1;
  visibility: visible;
}

.label .input:checked ~ .title {
  opacity: 0;
  visibility: hidden;
}

.label .input:checked ~ .title:last-child {
  animation: showInstalledMessage 0.4s ease 3.5s forwards;
}

@keyframes pulse {
  0% {
    scale: 0.95;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    scale: 1;
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
  }
  100% {
    scale: 0.95;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes installing {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg) translate(27px) rotate(0);
    opacity: 1;
    visibility: visible;
  }
  99% {
    transform: rotate(270deg) translate(27px) rotate(270deg);
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes installed {
  100% {
    width: 150px;
    border-color: rgb(35, 174, 35);
  }
}

@keyframes circleDelete {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showInstalledMessage {
  100% {
    opacity: 1;
    visibility: visible;
    right: 56px;
  }
}


.sec2 .photo {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 150px;
  border: 3px solid #00b4d8;
  background: #001f36;
  display: flex;
  justify-content: center;
  align-items: center;
        /* box-shadow:  0 0 50px rgba(0, 195, 255, 0.546),
    0 0 20px rgba(255, 34, 0, 0.758),
    0 0 30px rgba(244, 183, 0, 0.404); */

}

.photo img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: filter 0.4s ease, transform 0.4s ease;
  object-fit: cover;
}
/* ===== Section 3 Styles ===== */
.sec3 {
  background: linear-gradient(#003c67, #002a47, #002139, #000);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Title */
.sec3 h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 5%;
  color: #fff;
}

/* Card container */
.sec3 .all-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 80%;
  margin: 4% auto;
  box-sizing: border-box;
}

/* Card style */
.sec3 .card {
  background-color: #003448;
  width: 100%;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 7px solid #00fff7;
  border-bottom: 7px solid #00fff7;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  border-radius: 20px;
  transition: all 0.4s ease;
  color: #fff;
  box-sizing: border-box;
}

.sec3 .card:hover {
  border: 3px solid #00fff7;
  transform: scale(1.02);
}

/* Card content */
.sec3 i {
  font-size: 50px;
  color: #00e0b7;
  padding: 5%;
}

.sec3 h3 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.sec3 span {
  color: #00ffc3;
}

.sec3 p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.sec4{
  background: linear-gradient(#003c67,#002a47,#002139,#000);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100%;
}

.sec4 .title{
  margin: auto;
}

.sec4 .title p{
  /* margin: auto; */
  color: #fff;
  font-size: 40px;
  text-align: center;
}
.sec4 .title span{
  color: #00e0b7;
}

.sec4 .all-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  /* margin: 100px 100px; */
  flex-direction: row;
  gap: 20px;
}
.sec4 .card{
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  width: 350px;
  border-radius: 20px;
}
.sec4 .card img{
  margin-bottom: 1rem;
  border-radius: 20px 20px 0px 0px;
}

.sec4 .content{
  padding: 10px;
}
.sec4 .card .all-tools{
  display: flex;
  flex-wrap: wrap;
}

.sec4 .all-tools .tool{
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.sec4 .body-content #title,
.sec4 .body-content #body
{
  text-align: center;
  font-family:  "Roboto", sans-serif;
}
.sec4 .body-content #title{
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.sec4 .body-content #body{
  font-size: 15px;
}
.sec4 .links i:hover{
  color: #00eeff;
}



.sec5{
  background: linear-gradient(#003c67,#002a47,#002139,#000);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.sec5 h1{
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 5%;
}
.sec5 span{ 
  color: #00ffc3;
}

.sec5 .contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.sec5 .social{
  margin: 7%;
}
.sec5 #i{
  font-size: 25px;
        width: 2.5rem;
        height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
}

.sec5 .address,.mail,.whats{
  position: relative;
  display: flex;
  margin-bottom: 5%;
}

.sec5 i{
  color: #003c67;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.sec5 i:hover{
  color: #00eaff;
  transform: scale(1.1,1.1);
}
.sec5 .info{
  margin-left: 10px;
  color: white;
}

.sec5 .info p{
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}
.sec5 .info span{
  position: relative;
  right: 3px;
}


.sec5 .msg{
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.sec5 .msg h2{
  font-size: 25px;
}

.sec5 .msg .input-box{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.sec5 .msg .input-box input,textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  resize: none;
}

.sec5 .msg .input-box span{
  position: absolute;
  left: 0;
  padding: 10px 0;
  font-size: 15px;
  margin: -45px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sec5 .msg input:focus ~ span,
.sec5 .msg input:valid ~ span
.sec5 .msg textarea:focus ~ span,
.sec5 .msg textarea:valid ~ span
{
  color: #004d6c;
  font-size: 10px;
  margin: -60px 0;
  transform: translateX(-50px,-50px);
}
.sec5 .msg textarea:focus ~ span
.sec5 .msg textarea:valid ~ span
{
  color: #004d6c;
  font-size: 10px;
  margin: -60px 0;
  transform: translateX(-50px,-50px);
}

.sec5 .msg .input-box input[type="submit"]{
  background: #006ce7;
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
}

footer{
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  background: #278afc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social_icone,
footer .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
footer .social_icone li,
.menu li
{
  list-style-type: none;
}

footer .social_icone li a,
footer  .menu li a 
{
  font-size: 30px;
  margin: 0 10px;
  color: #fff;
  display: inline-block;
  transition: 0.5s ease;
}
footer .social_icone li a:hover{
  transform: translateY(-10px);
}

footer .menu li a{
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
  color: #fff;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  text-align: center;
}

footer .wave{
  position: absolute;
  top: 225rem;
  bottom: 0; /* بدل top:-1000px */
  left: 0;
  width: 100%; /* عشان الحركة تبان */
  height: 100px;
  background: url('../wave.png');
  background-size: 1000px 100px;
}


footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index:999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3{
  z-index:999;
  opacity: 0.2;
  bottom: 0px;
  animation: animateWave_3 3s linear infinite;
}
footer .wave#wave4{
  z-index: 1000;
  opacity: 0.7;
  bottom: 10px;
  animation: animateWave_4 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animateWave_2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px; /* بالعكس عشان يدّي شكل تداخل */
  }
}

@keyframes animateWave_3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animateWave_4 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}



@keyframes tags-left {
  from{
    right: 30%;
  }
}

@keyframes tags-right {
  from{
    right: 20%;
  }
}

@keyframes title-l{
  from{
    left: 40%;
    color: #ebebeb ;
  }
} 
@keyframes title-r{
  from{
    left: -40%;
    color: #ebebeb ;
  }
} 



